| exports = module.exports = function(mongoose) {
| var fs = require('fs');
| var Schema = mongoose.Schema;
| var schema = new Schema(require('./#{modelName}_Schema')(mongoose))
| schema.statics.slug = function(cb) {
| return '#{modelNameSlug}'
| }
| schema.statics.displayName = function(cb) {
| return '#{modelNameDisplayName}'
| }
| return mongoose.model('#{modelName}',schema);
| }